<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">
       
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!producto">
    <label>Cargando detalles...</label>
  </div>
  <ion-card> <ion-card-header class="text-center">
    <ion-card-title>{{ producto?.nombre }}</ion-card-title>
  </ion-card-header>
  <ion-card-content> 
    <ng-container *ngFor="let parameter of producto | keyvalue">
      <!--Excluimos el id de la descripcion-->
      <ng-container *ngIf="parameter.key != 'id'">
      <label>
        {{parameter?.key | titlecase}}: {{ parameter?.value }}  <br>
      </label> 
    </ng-container>
    </ng-container>
  </ion-card-content>
  </ion-card>
</ion-content> 
