<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title align="center">
      Anuncio {{categoria}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Select para cambiar entre categorías, así queda claro en que categoría estás."-->
  <ion-item>
    <ion-label>Categoría </ion-label>
    <ion-icon [name]="img"></ion-icon>
    <ion-select (ionChange)="changeImage()" [(ngModel)] = "categoria">
      <ion-select-option value="Tecnologia">Tecnología</ion-select-option>
      <ion-select-option value="Hogar">Hogar</ion-select-option>
      <ion-select-option value="Inmobiliaria">Inmobiliaria</ion-select-option>
      <ion-select-option value="Motor">Motor</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input class="textinput" placeholder="Nombre" [(ngModel)] ="nombre"></ion-input>
    </ion-item>
    <!-- Utilizamos comillas simples para la string dentro del ngIF-->
    <ng-container *ngIf="categoria === 'Motor'">
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>Coche</ion-label>
            <ion-radio slot="start" [value]="Coche" [(ngModel)]="tipo"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Moto</ion-label>
            <ion-radio slot="start" [value]="Moto" [(ngModel)] ="tipo"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-item>
          <ion-label>Km:</ion-label>
          <ion-input class="textinput" placeholder="Km" type="number" [(ngModel)] = "km"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Año:</ion-label>
          <ion-datetime class="textinput" no-padding displayFormat="YYYY" placeholder="2005" [(ngModel)] = "date"></ion-datetime>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="categoria === 'Inmobiliaria'">
      <ion-list>
        <ion-item>
          <ion-label>Metros<sup>2</sup>:</ion-label>
          <ion-input class="textinput" placeholder="200" type="number" [(ngModel)] = "metros"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Baños:</ion-label>
          <ion-input  class="textinput" placeholder="1" type="number" [(ngModel)] = "bath"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Habitaciones:</ion-label>
          <ion-input class="textinput" placeholder="2" type="number" [(ngModel)] = "habitaciones"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Localidad:</ion-label>
          <ion-input class="textinput" placeholder="Valencia" [(ngModel)] = "localidad"></ion-input>
        </ion-item>
      </ion-list>
    </ng-container>
    <ng-container *ngIf="categoria === 'Tecnologia'">
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label> Estado:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Usado</ion-label>
            <ion-radio slot="start" [value]="usado" [(ngModel)] = "estado"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Nuevo</ion-label>
            <ion-radio slot="start" [value]="perfecto" [(ngModel)] = "estado"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ng-container>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-textarea class="textinput" placeholder="Descripción" [(ngModel)] = "descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-input class="textinput" placeholder="Precio" type="number" [(ngModel)] = "precio"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="tertiary" expand="block" (click)="insertar()" >Publicar </ion-button>

  <ng-container *ngIf="categoria">
  <ion-label>Productos {{categoria}} : </ion-label>
  <ion-card *ngFor="let producto of productos " [routerLink]="['/detalles-productos', producto.id]" routerDirection="forward">
    <ng-container *ngIf="producto.categoria === categoria">
    <ion-card-header>
      <ion-card-title> {{producto.nombre}} - {{producto.precio}}€</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-text>{{producto.descripcion}}</ion-text>
    </ion-card-content>
  </ng-container>
  </ion-card>
</ng-container>
</ion-content>